.cards1 {
    margin-top: 30px;
}

.cards1 h1 {
    font-size: 18px;
    display: none;
}

.cards1 .cards-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    justify-content: center;
    align-content: center;
}

.cards1 .cards-grid .job-card {
    display: flex;
    flex-direction: row;
    border-radius: 3px 3px 3px 3px;
    width: 250px;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
}

.cards1 .cards-grid .job-card:hover{
    box-shadow: -5px 5px 5px 0 rgb(229, 229, 229),
                2px 2px 3px 0 rgba(229, 229, 229, 1);
}

.cards1 .flex-cont {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cards1 .flex-cont .link-cont {
    width: 1080px;
    height: 50px;
}

.cards1 .cards-grid .job-card .side-bar {
    width: 10px;
    height: auto;
    background-color: rgb(229, 229, 229);
    outline: 1px solid rgb(212, 212, 212);
    border-radius: 3px 0px 0px 3px;
}

.cards1 .cards-grid .job-card .info {
    width: inherit;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -1px rgb(229, 229, 229),
                1px 0px rgb(229, 229, 229),
                0px 1px rgb(229, 229, 229);
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    border-radius: 0px 3px 3px 0px;
}

.cards1 .cards-grid .job-card .info .job-name {
    color: rgb(0, 128, 170);
    font-size: 18px;
}

.cards1 .cards-grid .job-card .info .job-price {
    color: black;
    font-size: 16px;
}

.cards1 .cards-grid .job-card .info .job-place {
    margin-top: 5px;
    color: grey;
    font-size: 14px;
}

.cards1 .more-cards {
    color: rgb(0, 128, 170);
}

.cards1 .more-cards:hover {
    color: rgb(0, 54, 72);
}

@media screen and (max-width: 600px) {
    .cards1 h1 {
        display: block;
    }

    .cards1 .cards-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: auto;
        height: auto;
        justify-content: left;
        overflow: scroll;
        overflow-y: hidden;
    }

    .cards1 .cards-grid .job-card {
        margin: 10px 20px 10px 0px;
    }
}

@media screen and (max-width: 1195px) {
    .cards1 .flex-cont .link-cont {
        width: 810px;
    }
}

@media screen and (max-width: 925px) {
    .cards1 .flex-cont .link-cont {
        width: 540px;
    }   
}