.cards2 {
    display: flex;
    flex-direction: row;
}

.cards2 .left-bar {
    height: auto;
    border-right: 1px solid rgb(225, 225, 225);
    width: fit-content;
}

.cards2 .left-bar .table {
    width: 250px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.cards2 .left-bar .table .list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cards2 .left-bar .table .list-item .value {
    color: grey;
}

.cards2 .right-cards {
    padding-left: 30px;
}

.cards2 .right-cards .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cards2 .right-cards .cards .card {
    width: 250px;
}

.cards2 .right-cards .cards .card-item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    width: fit-content;
}


.cards2 .right-cards .cards .card-item p {
    white-space: normal;
}

.cards2 .right-cards .cards .card-item > * {
    margin-bottom: 5px;
}

.cards2 .right-cards .cards .card-item .job-place {
    color: gray;
}

@media screen and (max-width: 1000px) {
    .cards2 {
        display: flex;
        flex-direction: column;
    }

    .cards2 .left-bar {
        height: auto;
        border-right: none;
    }

    .cards2 .left-bar .table {
        width: 250px;
        padding-right: 0px;
    }

    .cards2 .right-cards {
        padding-left: 0px;
    }

    .cards2 .right-cards .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: auto;
        height: auto;
        justify-content: left;
        overflow: scroll;
        overflow-y: hidden;
    }

    .cards2 .right-cards .cards .card-item {
        height: auto;
        margin-right: 40px;
        margin-bottom: 10px;
    }

    .cards2 .right-cards .cards .card-item p {
        white-space: nowrap;
    }

    .cards2 .right-cards .header {
        margin-bottom: 10px;
    }
}

