/* cards2 */
.cards2 {
    height: 400px;
}

.cards2 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.cards2 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.cards2 .content {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 25% 75%;
}

.cards2 .content .left-bar {
    width: 300px;
    height: auto;
    border-right: 1px solid rgb(225, 225, 225);
}

.cards2 .content .left-bar .table {
    width: 250px;
}

.cards2 .content .left-bar .table .header {
    margin-bottom: 30px;
}

.cards2 .content .left-bar .table .list .list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
}

.cards2 .content .left-bar .table .list a {
    text-decoration: none;
    color: black;
}

.cards2 .content .left-bar .table .list .list-item .value {
    color: grey;
}

.cards2 .content .right-cards {
    width: 100%;
}

.cards2 .content .right-cards .header {
    margin-bottom: 30px;
}

.cards2 .content .right-cards .cards a {
    text-decoration: none;
}

.cards2 .content .right-cards .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cards2 .content .right-cards .cards .card-item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 40px;
    margin-bottom: 40px;
    cursor: pointer;
}

.cards2 .content .right-cards .cards .card-item > * {
    margin-bottom: 5px;
}

.cards2 .content .right-cards .cards .card-item .job-name {
    color: black;
}

.cards2 .content .right-cards .cards .card-item .job-price {
    color: black;
}

.cards2 .content .right-cards .cards .card-item .job-place {
    color: gray;
    font-size: 14px;
}

.cards2 .content .right-cards .cards .card-item .job-place:hover {
    color: rgb(83, 83, 83);
}



