.main .center-panel .top-line {
    height: 100px;
    line-height: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.main .center-panel .top-line .left-menu {
    display: flex;
    justify-content: left;
    height: inherit;
    line-height: inherit;
}

.main .center-panel .top-line .left-menu .texts {
    display: flex;
    justify-content: left;
}

.main .center-panel .top-line .left-menu .texts >* {
    margin-right: 15px;
}

.main .center-panel .top-line .left-menu .logo {
    margin-right: 15px;
}

.main .center-panel .top-line .left-menu .logo .img-center {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.main .center-panel .top-line .left-menu img {
    width: 50px;
    vertical-align: middle;
}

.main .center-panel .top-line .left-menu .text a:hover {
    color: rgb(32, 152, 192);
}

.main .center-panel .top-line .right-menu {
    display: flex;
    justify-content: right;
}

.main .center-panel .top-line .right-menu>* {
    margin-left: 15px;
}

.main .center-panel .top-line .right-menu button {
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

.main .center-panel .top-line .right-menu .login-button {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    outline: 1px solid white;
}

.main .center-panel .top-line .right-menu .login-button:hover {
    outline: 2px solid white;
}

.main .center-panel .top-line .right-menu .reg-button {
    background-color: rgba(106, 216, 96, 0.1);
    color: rgb(106, 216, 96);
    border: none;
    outline: 1px solid rgb(106, 216, 96);
}

.main .center-panel .top-line .right-menu .reg-button:hover {
    outline: 2px solid rgb(106, 216, 96);
}

@media screen and (max-width: 630px) {
    .main .center-panel .top-line .right-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main .center-panel .top-line .right-menu >* {
        padding: 0;
        margin: 0;
        line-height: normal;
    }

    .main .center-panel .top-line .right-menu .reg-btn {
        margin-bottom: 10px;
    }

    .main .center-panel .top-line .right-menu button {
        width: 100px;
        height: 40px;
        border-radius: 30px;
        cursor: pointer;
        padding-left: 20px;
        padding-right: 20px;
    }
}