.main .center-panel .bottom-line {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.main .center-panel .bottom-line .stat-data {
    height: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 5px;
    column-gap: 20px;
}

.main .center-panel .bottom-line .stat-data .num {
    font-size: 22px;
}

.main .center-panel .bottom-line .stat-data .name {
    font-size: 14px;
}

.main .center-panel .bottom-line .app-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main .center-panel .bottom-line .app-buttons a {
    margin-left: 20px;
}

.main .center-panel .bottom-line .app-buttons button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    outline: 1px solid white;
    height: 100%;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    width: 130px;
}

.main .center-panel .bottom-line .app-buttons button:hover {
    outline: 2px solid white;
}

.main .center-panel .bottom-line .app-buttons .app-btn .btn-content{
    display: flex;
    align-content: center;
    justify-content: center;
}

.main .center-panel .bottom-line .app-buttons .app-btn .app-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 3px;
    margin-left: 5px;
}

.main .center-panel .bottom-line .app-buttons .app-btn .app-text .top-text {
    font-size: 10px;
}

.main .center-panel .bottom-line .app-buttons .app-btn .app-text .main-text {
    font-size: 14px;
}

.main .center-panel .bottom-line .app-buttons .app-btn .app-text p {
    text-align: left;
}

.main .center-panel .bottom-line .app-buttons .app-btn .app-logo {
    width: 30px;
    height: 30px;
}

.main .center-panel .bottom-line .app-buttons .app-btn .app-logo .app-google {
    margin-top: 1px;
    height: 28px;
}

.main .center-panel .bottom-line .app-buttons .app-btn .app-logo .app-apple {
    height: 30px;
    margin-right: 5px;
}

@media screen and (max-width: 600px) {
    .main .center-panel .bottom-line .app-buttons {
        display: flex;
        flex-direction: column;
    }

    .main .center-panel .bottom-line .app-buttons .top-app {
        margin-bottom: 5px;
    }

    .main .center-panel .bottom-line .app-buttons a {
        margin-left: 0px;
    }
}