.main .center-panel .center-line {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .center-panel .center-line .search-bar {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.main .center-panel .center-line .search-bar .search-header {
    margin-bottom: 20px;
}

.main .center-panel .center-line .search-bar .search-group {
    display: flex;
    justify-content: center;
}

.main .center-panel .center-line .search-bar .search-group .search-btn {
    border: none;
    outline: none;
    background-color: rgb(96, 96, 241);
    color: white;
    width: 120px;
    height: 42px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.main .center-panel .center-line .search-bar .search-group .search-btn:hover {
    background-color: rgb(83, 83, 213);
}

.main .center-panel .center-line .search-bar .search-group .search-btn:focus {
    background-color: rgb(80, 80, 197);
    height: 42px;
    border-top: 3px solid rgb(60, 60, 152);
}

.main .center-panel .center-line .search-bar input {
    width: 500px;
    height: 40px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px 0px 0px 5px;
}

.main .center-panel .center-line .search-bar input:focus {
    border: none; 
    outline: none;  
}

.main .center-panel .center-line .search-bar h1 {
    color: white;
    font-weight: bold;
    font-size: 38px;
}

.main .center-panel .center-line .search-bar .adv-search-box {
    height: 42px;
    width: 40px;
    background-color: white;
}

.main .center-panel .center-line .search-bar .adv-search {
    margin-top: 6px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
}

.main .center-panel .center-line .search-bar .adv-search img {
    opacity: 0.8;
    max-width: 100%;
    max-height: 100%;
}

.main .center-panel .center-line .search-bar .worker-search {
    display: flex;
    justify-content: flex-start;
}

.main .center-panel .center-line .search-bar .worker-search a {
    margin-top: 20px;
    color: white;
}

.main .center-panel .center-line .search-bar .worker-search a:hover {
    color: rgb(239, 173, 173);   
}

.main .center-panel .center-line .search-bar a {
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

@media screen and (max-width: 750px) {
    .main .center-panel .center-line .search-bar input {
        width: 350px;
    }
}

@media screen and (max-width: 600px) {
    .main .center-panel .center-line .search-bar input {
        width: 300px;
    }

    .main .center-panel .center-line .search-bar .search-group .search-btn {
        width: 80px;        
    }
}