.main .top-panel {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.main .top-panel .top-item {
    position: relative;
}

.top-item a {
    text-decoration: underline dotted;
    text-underline-offset: 0.2em;
    width: 30px;
}

.top-item a p {
    font-size: 16px;
}

.top-item a:link {
    color: rgb(0, 128, 170);
}

.top-item a:visited {
    color: rgb(0, 128, 170);
}

.top-item a:hover {
    color: rgb(0, 54, 72);
}

.top-item a:active {
    color: rgb(0, 128, 170);
}

.main .top-panel .city-name {
    top: 30%;
    text-align: left;
}

.main .top-panel .vision-help {
    top: 15%;
    text-align: right;
}

.main .top-panel .vision-help img {
    width: 50px;
}