.main .top-panel {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
}

.main .top-panel a {
    text-decoration: underline dotted;
    text-underline-offset: 0.3em;
    width: fit-content;
    color: rgb(0, 128, 170);
}

.main .top-panel a:hover {
    color: rgb(0, 54, 72);
}

.main .top-panel .city-name {
    text-align: center;
}

.main .top-panel .vision-help .img-center {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.main .top-panel .vision-help img {
    width: 50px;
    vertical-align: middle;
}