@import url("main-top-panel.css");
@import url("main-center-panel-top-line.css");
@import url("main-center-panel-center-line.css");
@import url("main-center-panel-bottom-line.css");

.main { 
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main .center-panel {
    height: 550px;  
}

.main .center-panel .bg{
    width: 100%;
    height: inherit;
    background-color: rgb(73, 73, 73);
    position: absolute;
    z-index: -2;
    overflow: hidden;
}

.main .center-panel .bg img {
    z-index: -1;
    opacity: 0.5;
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
}

.main .center-panel .content {
    z-index: 0;
}

.main .center-panel .center-panel-flex {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


